.fil0 {
  fill: none;
}
.fil6 {
  fill: #0288d1;
}
.fil5 {
  fill: #333333;
}
.fil1 {
  fill: #471e00;
}
.fil4 {
  fill: #e6b683;
}
.fil2 {
  fill: #fad3a8;
}
.fil3 {
  fill: #c99154;
  fill-rule: nonzero;
}