.mainbox {
  width: 500px;
  height: 300px;
  position: relative;
  animation: loading 2s infinite;
}

.avatarbox {
  display: flex;
  height: 50px;
  margin: 10px;
}
.avatar {
  height: 50px;
  border-radius: 50%;
  flex: 1;
  background-color: #cccccc;
  margin: 5px;
}
.namebox {
  flex: 4;
  background-color: #cccccc;
  height: 50px;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
